{% extends "layouts/main_layout.twig" %}

{% block title %}Наталья Горчакова{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block body %}

<body>
{% block mainHeader %}
    {{ parent() }}
{% endblock %}
{% block nav %}
    {{ parent() }}
{% endblock %}

<!--    FAQ-->
    <section id="faq" class="py-4 pl-2 pr-2 text-dark rounded">
        <div class="container">
            <h1 class="text-center mb-5">Часто задаваемые вопросы</h1>
            <div class="row mt-3">
                <div class="col-md-10 m-auto text-left">
                    <div id="accordion">
                        <div class="card radius">
                            <div class="card-header radius">
                                <div class="row">
                                    <div class="col-xs-6 ml-3 my-auto">
                                        <h5 class="mb-0">
                                            <a href="#collapse_1" data-toggle="collapse" data-parent="accordion">
                                                Университет 1
                                            </a>
                                        </h5>
                                    </div>
                                    <div class="col-xs-6 ml-auto">
                                        <a data-toggle="collapse" class="collapsed btn btn-default btn-xs text-right" href="#collapse_1" aria-label="Expand/Collapse Card 1" aria-expanded="false" role="button">
                                            <i class="fa" aria-hidden="true"></i>
                                            <span class="sr-only">Expand/Collapse Card 1</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div id="collapse_1" class="collapse">
                                <div class="card-body radius">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur, at aut consectetur enim excepturi id incidunt inventore iusto, maiores nihil nostrum, obcaecati omnis pariatur quaerat quo recusandae saepe similique veritatis voluptates? Accusantium alias asperiores magnam possimus quaerat reiciendis veritatis.
                                </div>
                            </div>
                        </div>

                        <div class="card radius">
                            <div class="card-header radius">
                                <div class="row">
                                    <div class="col-xs-6 ml-3 my-auto">
                                        <h5 class="mb-0">
                                            <a href="#collapse_2" data-toggle="collapse" data-parent="accordion">
                                                Университет 2
                                            </a>
                                        </h5>
                                    </div>
                                    <div class="col-xs-6 ml-auto">
                                        <a data-toggle="collapse" class="collapsed btn btn-default btn-xs text-right" href="#collapse_2" aria-label="Expand/Collapse Card 1" aria-expanded="false" role="button">
                                            <i class="fa" aria-hidden="true"></i>
                                            <span class="sr-only">Expand/Collapse Card 1</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div id="collapse_2" class="collapse">
                                <div class="card-body radius">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur, at aut consectetur enim excepturi id incidunt inventore iusto, maiores nihil nostrum, obcaecati omnis pariatur quaerat quo recusandae saepe similique veritatis voluptates? Accusantium alias asperiores magnam possimus quaerat reiciendis veritatis.
                                </div>
                            </div>
                        </div>

                        <div class="card radius">
                            <div class="card-header radius">
                                <div class="row">
                                    <div class="col-xs-6 ml-3 my-auto">
                                        <h5 class="mb-0">
                                            <a href="#collapse_3" data-toggle="collapse" data-parent="accordion">
                                                Университет 3
                                            </a>
                                        </h5>
                                    </div>
                                    <div class="col-xs-6 ml-auto">
                                        <a data-toggle="collapse" class="collapsed btn btn-default btn-xs text-right" href="#collapse_3" aria-label="Expand/Collapse Card 1" aria-expanded="false" role="button">
                                            <i class="fa" aria-hidden="true"></i>
                                            <span class="sr-only">Expand/Collapse Card 1</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div id="collapse_3" class="collapse">
                                <div class="card-body radius">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur, at aut consectetur enim excepturi id incidunt inventore iusto, maiores nihil nostrum, obcaecati omnis pariatur quaerat quo recusandae saepe similique veritatis voluptates? Accusantium alias asperiores magnam possimus quaerat reiciendis veritatis.
                                </div>
                            </div>
                        </div>

                        <div class="card radius">
                            <div class="card-header radius">
                                <div class="row">
                                    <div class="col-xs-6 ml-3 my-auto">
                                        <h5 class="mb-0">
                                            <a href="#collapse_4" data-toggle="collapse" data-parent="accordion">
                                                Университет 4
                                            </a>
                                        </h5>
                                    </div>
                                    <div class="col-xs-6 ml-auto">
                                        <a data-toggle="collapse" class="collapsed btn btn-default btn-xs text-right" href="#collapse_4" aria-label="Expand/Collapse Card 1" aria-expanded="false" role="button">
                                            <i class="fa" aria-hidden="true"></i>
                                            <span class="sr-only">Expand/Collapse Card 1</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div id="collapse_4" class="collapse">
                                <div class="card-body radius">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur, at aut consectetur enim excepturi id incidunt inventore iusto, maiores nihil nostrum, obcaecati omnis pariatur quaerat quo recusandae saepe similique veritatis voluptates? Accusantium alias asperiores magnam possimus quaerat reiciendis veritatis.
                                </div>
                            </div>
                        </div>

                        <div class="card radius">
                            <div class="card-header radius">
                                <div class="row">
                                    <div class="col-xs-6 ml-3 my-auto">
                                        <h5 class="mb-0">
                                            <a href="#collapse_5" data-toggle="collapse" data-parent="accordion">
                                                Университет 5
                                            </a>
                                        </h5>
                                    </div>
                                    <div class="col-xs-6 ml-auto">
                                        <a data-toggle="collapse" class="collapsed btn btn-default btn-xs text-right" href="#collapse_5" aria-label="Expand/Collapse Card 1" aria-expanded="false" role="button">
                                            <i class="fa" aria-hidden="true"></i>
                                            <span class="sr-only">Expand/Collapse Card 1</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div id="collapse_5" class="collapse">
                                <div class="card-body radius">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur, at aut consectetur enim excepturi id incidunt inventore iusto, maiores nihil nostrum, obcaecati omnis pariatur quaerat quo recusandae saepe similique veritatis voluptates? Accusantium alias asperiores magnam possimus quaerat reiciendis veritatis.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--                <div class="col-md-6"></div>-->
            </div>
        </div>
    </section>

    <!--    Footer-->

    {% block footer %}
        {{ parent() }}
    {% endblock %}

    {% block mainScripts %}
        {{ parent() }}
    {% endblock %}

    <script>
        // Get the current year for the copyright
        $('#year').text(new Date().getFullYear());
    </script>
</body>

</html>
{% endblock %}