{% extends "layouts/main_layout.twig" %}

{% block title %}Наталья Горчакова{% endblock %}
{% block head %}
  {{ parent() }}
{% endblock %}
{% block body %}
<body>
  {% block mainHeader %}
    {{ parent() }}
  {% endblock %}
  {% block nav %}
    {{ parent() }}
  {% endblock %}

  <!--- Show case slider --->
  <section id="showcase">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner m-auto">
        <div class="carousel-item carousel-image-1 active">
          <div class="container">
            <div class="carousel-caption d-sm-block mb-10">
              <blockquote class="blockquote">
                <p class="mb-2">
                  Я не то, что со мной случилось, я — то, чем я решил стать.
                </p>
                <footer class="blockquote-footer">
                  <cite title="Author">Карл Густав Юнг</cite>
                </footer>
              </blockquote>
<!--              <a href="#" class="btn btn-danger btn-lg">Узнать больше</a>-->
            </div>
          </div>
        </div>

        <div class="carousel-item carousel-image-2">
          <div class="container">
            <div class="carousel-caption d-sm-block mb-5">
              <blockquote class="blockquote">
                <p class="mb-2">
                  Если вы одаренный человек, это не значит, что вы что-то получили. Это значит, что вы можете что-то отдать.
                </p>
                <footer class="blockquote-footer">
                  <cite title="Author">Карл Густав Юнг</cite>
                </footer>
              </blockquote>
<!--              <a href="#" class="btn btn-primary btn-lg">Узнать больше</a>-->
            </div>
          </div>
        </div>

        <div class="carousel-item carousel-image-3">
          <div class="container">
            <div class="carousel-caption d-sm-block mb-10">
              <blockquote class="blockquote">
                <p>
                  То, чему ты сопротивляешься, остается.
                </p>
                <footer class="blockquote-footer">
                  <cite title="Author">Карл Густав Юнг</cite>
                </footer>
              </blockquote>
<!--              <a href="#" class="btn btn-success btn-lg">Узнать больше</a>-->
            </div>
          </div>
        </div>
        <a href="#myCarousel" data-slide="prev" class="carousel-control-prev">
          <span class="carousel-control-prev-icon"></span>
        </a>

        <a href="#myCarousel" data-slide="next" class="carousel-control-next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div>
  </section>

  <!--- Home section -->
  <section id="home-icons" class="mt-5 pt-5 pb-3">
    <div class="container">
      <img class="rec-rotated d-none d-md-block" src="/templates/img/bg/rec_rotated.png" alt="">
      <img class="rec-side d-none d-md-block" src="/templates/img/bg/rec_side.png" alt="">
      <h2 class="text-center m-auto">Если вы чувствуете, что готовы:</h2>
      <div class="row">
        <div class="col-md-4 mb-4 text-center">
          <img class="meditation" src="/templates/img/icons/meditation.png" alt="">
          <h3>Разобраться в себе</h3>
          <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias assumenda distinctio fugiat ipsam itaque iure magnam nam necessitatibus nobis perspiciatis placeat possimus quam, quod, reprehenderit sed, sunt vero voluptatum.</span></p>
        </div>

        <div class="col-md-4 mb-4 text-center">
          <img class="hands" src="/templates/img/icons/hands.png" alt="">
          <h3>Выстроить крепкие отношения</h3>
          <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias assumenda distinctio fugiat ipsam itaque iure magnam nam necessitatibus nobis perspiciatis placeat possimus quam, quod, reprehenderit sed, sunt vero voluptatum.</span></p>
        </div>

        <div class="col-md-4 text-center">
          <img class="bird" src="/templates/img/icons/bird.png" alt="">
          <h3>Ощутить Свободу</h3>
          <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias assumenda distinctio fugiat ipsam itaque iure magnam nam necessitatibus nobis perspiciatis placeat possimus quam, quod, reprehenderit sed, sunt vero voluptatum.</span></p>
        </div>
      </div>
    </div>
  </section>

  <!-- Home heading section -->
  <section id="home-heading" class="p-5 m-auto text-center d-none d-sm-none d-sm-block d-md-block">
      <div class="row">
        <div class="col">
          <div class="container">
            <img class="circles" src="/templates/img/bg/circles.png" alt="">
            <h1 class="m-auto">Готовы изменить свою жизнь к лучшему?</h1>
            <p class="m-auto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab cum debitis distinctio enim facere iusto ratione sequi! Asperiores itaque, iure.</p>
          </div>
        </div>
      </div>
  </section>

  <!-- Info section -->
  <section id="online" class="pb-5 pt-5 d-none d-sm-block">
      <div class="row">
        <img class="bg-rec rotated" src="/templates/img/bg/shape-light-coral-edge.svg" alt="">
        <img class="bg-rec rotated-1" src="/templates/img/bg/shape-lilac.svg" alt="">
<!--        <img class="bg-rec rotated-2" src="img/bg/rec_rotated.png" alt="">-->
        <div class="card description">
            <h3 class="text-center m-auto">Возможны консультации онлайн</h3>
        </div>

        <div class="card button">
          <a href="#" class="text-center"><span class="my-4">Записаться онлайн!</span></a>
        </div>
      </div>
  </section>

<!--  About short-->
<section id="about-short" class="text-white py-3 m-auto">
  <div class="container">
<!--    <h2 class="text-center mb-5">Несколько слов обо мне</h2>-->
    <div class="row">
      <div class="col text-left">
        <h2 class="about-header mt-4">Наталья Горчакова</h2>
        <span class="about-who mb-4">Психоаналитик</span>
        <p class="about-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet aut autem, blanditiis cum dolor eius eligendi eos et eveniet neque numquam officiis, perferendis quas quidem sint unde. Unde, veritatis?</p>
        <button class="btn">Узнать подробнее</button>
        <img class="about-img-cov d-none d-sm-block" src="/templates/img/bg/circles.png" alt="">
      </div>
    </div>
  </div>
</section>

<!--  Newsletter-->
  <section id="newsletter" class="text-center my-5 d-none d-sm-block">
      <div class="row">
        <div class="col-md-6 mr-auto main-cart">
          <div class="card m-5 p-3 main-form-content">
            <h4 class="mb-3">Где проходят встречи</h4>
            <img src="/templates/img/map.png" class="card-img-top" alt="">
            <div class="card-body">
              <p>г. Москва, ул. Улица Улицевых, дом. 34, офис 456</p>
            </div>
          </div>
        </div>

        <div class="col-md-6 main-form ml-auto">
          <div class="card m-5 p-3 main-form-content">
          </div>
        </div>
      </div>
  </section>

<!--Newsletters Mobile-->
  <section id="newsletter-mobile" class="text-center mt-5 d-block d-sm-none">
    <div class="row">
      <div class="col-md-6 mr-auto main-cart">
        <div class="card m-3 p-3 main-form-content">
          <h4 class="mb-3">Где проходят встречи</h4>
          <div class="card-body">
            <p>г. Москва, ул. Улица Улицевых, дом. 34, офис 456</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 main-form ml-auto">
        <div class="card m-3 p-3 main-form-content">
        </div>
      </div>
    </div>
  </section>



<!--  Footer-->

  {% block footer %}
    {{ parent() }}
  {% endblock %}

  {% block mainScripts %}
      {{ parent() }}
  {% endblock %}

  <script src="/templates/js/send_form.js"></script>

  <script>
      // Get the current year for the copyright
      $('#year').text(new Date().getFullYear());

      // Configure carousel
      $('.carousel').carousel({
        interval: 6000,
        pause: 'hover'
      })
    </script>
</body>

</html>
{% endblock %}